<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.mapper.UserMapper">
<!--    查询所有用户-->
    <select id="findUserList" resultType="com.atguigu.pojo.User">
    select * from t_user
    </select>

<!--    查询一个用户-->
    <select id="findUserById" parameterType="Integer" resultType="com.atguigu.pojo.User">
        select
            last_name lastName ,
            sex ,
            id
            from t_user
            where id = #{id}
    </select>

<!--    添加用户-->
    <!--    <insert id="addUser" parameterType="com.atguigu.pojo.User"-->
    <!--            useGeneratedKeys="true" keyProperty="id">   -->
    <insert id="addUser" parameterType="com.atguigu.pojo.User">
--         resultType的值和要存储的数据类型一致   mysql：order="AFTER"   oracel="BEFORE"
        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
--         mybatis自带，也是sql语句
            select LAST_INSERT_ID()
        </selectKey>
        insert into t_user
        (last_name,sex)
        values
        (#{lastName},#{sex})
    </insert>

<!--    修改-->
    <update id="updateUserById">
        update t_user
        set
            last_name = #{lastName},
            sex = #{sex}
        where id = #{id}
    </update>

<!--    删除用户-->
    <delete id="deleteUserById">
        delete from t_user where id = #{id}
    </delete>

<!--    查询所有用户，返回值是map类型-->
    <select id="queryUsersForMap" resultType="Map">
        select id,last_name lastName,sex from t_user
    </select>

</mapper>